In [9]:
#1.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
#2.

def sun(lst):
    summ  = 0
    for i in lst:
        summ+=i
    return summ
         

lst = [1,2,3,4]
print(sun(lst))

10

In [170]:
#3.

def rev(st):
    for i in reversed(st):
        print(i)

st = "hello"
(rev(st))

o
l
l
e
h

In [108]:
#4.

def fact(n):
    result = 1
    for i in range(1,n+1):
        result*=i
    return result

n = 5
print(fact(5))

120

In [116]:
#5.

def tabl(n):
    for i in range(1,11):
        print(f'{n}x{i} = {i*n}')
    return i

n = 3
print(tabl(n))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
3x10 = 30
10

In [140]:
#6.

def evod(lst):
    even = 0
    odd = 0
    for i in lst:
        if i%2==0:
            even +=1
        else:
            odd+=1
    return even,odd

lst = [1,2,3,4,5,6,7,8,9]
even_c,odd_c = evod(lst)
print(f'"even" = {even_c},"odd" = {odd_c}')

"even" = 4,"odd" = 5

In [178]:
#7.

def sr(n):
    for i in range(1,n+1):
        print(f'square of {i} is {i**2}')

n=5
(sr(n))

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25

In [194]:
#8.

def lenn(s):
    leng = 0
    for i in s:
        leng+=1
    return (f'length of string is {leng}')

s = "Doolki"
print(lenn(s))

length of string is 6

In [202]:
#9.

def avg(li):
    leng = 0
    total = 0
    for i in li:
        leng+=1
        total+=i
    return (f'average of list is {total/leng}')

li = [1,2,3,4,5,6]
print(avg(li))

average of list is 3.5

In [218]:
#10.

def fibb(n):
    a,b = 1,2
    for i in range(n):
        print(a)
        a,b=b,b+a

n=6
fibb(n)

1
2
3
5
8
13

In [11]:
#11.
def dupl(lst):
    dk = set()
    for i in lst:
        if i in dk:
            return True
        dk.add(i)
    return False

lst = [1,2,3,4,5,6]
if dupl(lst):
    print("duplicate")
else:
    print("not found")

not found

In [54]:
#12.

def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

def print_primes(start, end):
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end + 1):  
        if is_prime(num):  
            print(num, end=" ")  


start_range = 2
end_range = 8
print_primes(start_range, end_range)
is_prime(n)

Prime numbers between 2 and 8:
2 3 5 7

True

In [73]:
#13.

def vowel(st):
    voww = "aeiouAEIOU"
    count = 0
    for i in st:
        if i in voww:
            count+=1
    return count

st = "HelloooA"
vowel(st)

5

In [ ]:
#14.

In [77]:
#15.

def occ(lis,n):
    resu = []
    for i in lis:
        if i != n:
            resu.append(i)
    return resu

lis = [1,2,3,4,5,6,7,8]
n = 2
print(occ(lis,n))

[1, 3, 4, 5, 6, 7, 8]

In [141]:
#16.
def table():
    for i in range(2,7):
        for j in range(1,11):
            print(f"{i}x{j}={i*j}",end="\t")
        print()

table()

2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18	2x10=20
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27	3x10=30
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36	4x10=40
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45	5x10=50
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54	6x10=60

In [183]:
#17.

def ftc(lst):
    cels = []
    for i in lst:
        c=(i - 32) * 5/9
        cels.append(round(c,2))
    return cels

lst = [45,55,88]
ftc(lst)

[7.22, 12.78, 31.11]

In [195]:
#18.

def dupl(lst1,lst2):
    duplic = []
    for i in lst1:
        if i in lst2 and i not in duplic:
            duplic.append(i)
    return duplic


lst1 = [1,2,3,4,5,6]
lst2 = [6,7,8,9,1]
dupl(lst1,lst2)

[1, 6]

In [215]:
#19.

def star(n):
    for i in range(1,n+1):
        print("x"*i)

star(6)

x
xx
xxx
xxxx
xxxxx
xxxxxx

In [217]:
#20.

def find_gcd(a, b):
    gcd = 1 
    
    for i in range(1, min(a, b) + 1):  # Loop from 1 to the smaller number
        if a % i == 0 and b % i == 0:  # Check if i is a divisor of both a and b
            gcd = i  # Update GCD if a common divisor is found

    return gcd  # Return the highest common divisor

# Example usage
num1 = 36
num2 = 48

print("GCD of", num1, "and", num2, "is:", find_gcd(num1, num2))

GCD of 36 and 48 is: 12

In [233]:
#21.

def summ(lis):
    return[sum(int(num) for num in str(i)) for i in lis]

lis = [123,456,789]
summ(lis)

[6, 15, 24]

In [237]:
#22.

def prime_factors(n):
    factors = []  
    while n % 2 == 0:
        factors.append(2)
        n //= 2  

    
    for i in range(3, int(n**0.5) + 1, 2):  
        while n % i == 0:
            factors.append(i)
            n //= i  

    
    if n > 2:
        factors.append(n)

    return factors  


num = 57
print("Prime factors of", num, "are:", prime_factors(num))

Prime factors of 57 are: [3, 19]

In [245]:
#23.

def unique_ele(lst):
    return[i for i in lst if lst.count(i) == 1]

lst = [1,2,3,4,5,5,6,7,8,9]
print(lst)
unique_ele(lst)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 6, 7, 8, 9]

In [269]:
#24.

def pelind(n):
    return[i for i in range(n+1) if str(i)==str(i)[::-1]]

n = 200
final=pelind(n)
print(final,end="")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [275]:
#25.

def faltt(lst):
    return[i for j in lst for i in j]

lst = [[1,2,3],[4,5,6],[7,8,9]]
faltt(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [281]:
#26.

def evod(lst):
    odd = sum([j for j in lst if j%2!=0])
    even = sum([i for i in lst if i%2==0])
    return even , odd

lst = [1,2,3,4,5,6,7,8,9]
evod(lst)

(20, 25)

In [289]:
#27.

def sqr():
    return[j**2 for j in range(1,11) if j%2!=0]

sqr()

[1, 9, 25, 49, 81]

In [313]:
#28.

def comb(lst1,lst2):
    return{lst1[i]:lst2[i] for i in range(min(len(lst1),len(lst2)))}

lst1 = ["name", "age", "city"]
lst2 = ["Alice", 25, "New York"]
comb(lst1,lst2)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [339]:
#29.

def vowel(strr):
    vow = "aeiouAEIOU"
    return[i for i in strr if i in vow]

strr = "Nikhil"
vowel(strr)

['i', 'i']

In [365]:
#30.

def remove_non_numeric(strings):
    return [''.join(i for i in x if i.isdigit())for x in strings]


string_list = ["abc123", "45xy", "hello789", "99!@#", "0ne2Three4"]
cleaned_list = remove_non_numeric(string_list)

print("Numeric-only list:", cleaned_list)

Numeric-only list: ['123', '45', '789', '99', '024']

In [367]:
#31.

In [371]:
#32.

def pythagorean_triplets(limit):
    return [(a, b, c) 
            for a in range(1, limit) 
            for b in range(a, limit) 
            for c in range(b, limit) 
            if a**2 + b**2 == c**2]


limit = 20
triplets = pythagorean_triplets(limit)

print("Pythagorean Triplets up to", limit, ":", triplets)

Pythagorean Triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [385]:
#33.

def combine(lis1,lis2):
    return[(a,b) for a in lis1 for b in lis2]

lis1 = [1,2,3]
lis2 = ['a','b','c']
res=combine(lis1,lis2)
print(res,end='')

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [397]:
#34.
from statistics import mean,median,mode

def cal(lis1):
    return{
        "mean" : mean([i for i in lis1]),
        "median":median([i for i in lis1]),
        "mode":mode([i for i in lis1])
}

lis1 = [1, 2, 2, 3, 4, 5, 5, 5, 6]
stats = cal(lis1)

print("Statistics:", stats)

Statistics: {'mean': 3.6666666666666665, 'median': 4, 'mode': 5}

In [399]:
#36.

import math  

sum_of_digits = [sum(int(digit) for digit in str(math.factorial(n))) for n in range(1, 6)]


print("Sum of digits of factorials from 1 to 5:", sum_of_digits)

Sum of digits of factorials from 1 to 5: [1, 2, 6, 6, 3]

In [419]:
#37.

def finlon(strr):
    word = strr.split()
    return max([i for i in word],key=len)

strr = "hello my name is khannn"
res=finlon(strr)
print(res)

khannn

In [427]:
#38.

def filt(strr):
    vowel = "aeiouAEIOU"
    return[i for i in strr if sum(1 for x in i if x in vowel)>3]

strr = ["elephant", "apple", "banana", "education", "queue", "rhythm", "universe"]
filt(strr)

['education', 'queue', 'universe']

In [451]:
#39.

def sumdigit(n):
    return [sum(int(i) for i in str(x)) for x in range(1,n+1)]

n = 10
sumdigit(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [463]:
#40.

def prim(n):
    if n <2:
        return False
    else:
        return all(n%2!=0 for i in range(2,int(n**0.5)+1))

def pelim(n):
    return str(n)==str(n)[::-1]

x = 100
pp = [n for n in range(1,x+1) if prim(n) and pelim(n)]
print(pp)

[2, 3, 5, 7, 9, 11, 33, 55, 77, 99]